/* ie png fix */
 img, div { behavior: url(/iepngfix/iepngfix.htc) }

/* Application Layout CSS */

a {color: orange; text-decoration: none;}

.orange {color: orange;}

body {background: url('/images/background.jpg'); color: white;}

#header {
	height:50px;
	margin: 0 auto;
	z-index:9998;
}

#navbar { margin: 0; padding: 0; }
#header #navbar li { display: inline; }
#header #navbar li a { float: left; width: 152px; height: 0; padding-top: 50px; overflow: hidden; }
#header #navbar li a.home{width: 152px;}
#header #navbar li a { background-image: url(/images/navbar.png); _background-image: url(/images/navbar.gif); background-repeat: no-repeat; }

/* BUTTONS */
#header #navbar li#home a { background-position: 0 0; }
#header #navbar li#services a { background-position: -152px 0; }
#header #navbar li#stylists a { background-position: -275px 0; }
#header #navbar li#products a { background-position: -400px 0; }
#header #navbar li#pictures a { background-position: -525px 0; }
#header #navbar li#about_us a { background-position: -650px 0; }
#header #navbar li#location a { background-position: -775px 0; }

/* OVER STATES */
#header #navbar li#home a:hover { background-position: 0 -50px; }
#header #navbar li#services a:hover { background-position: -150px -50px; }
#header #navbar li#stylists a:hover { background-position: -275px -50px; }
#header #navbar li#products a:hover { background-position: -400px -50px; }
#header #navbar li#pictures a:hover { background-position: -525px -50px; }
#header #navbar li#about_us a:hover { background-position: -650px -50px; }
#header #navbar li#location a:hover { background-position: -775px -50px; }

/* PRESSED STATES */
#header #navbar li#home a:active { background-position: 0 -100px; }
#header #navbar li#services a:active { background-position: -150px -100px; }
#header #navbar li#stylists a:active { background-position: -275px -100px; }
#header #navbar li#products a:active { background-position: -400px -100px; }
#header #navbar li#pictures a:active { background-position: -525px -100px; }
#header #navbar li#about_us a:active { background-position: -650px -100px; }
#header #navbar li#location a:active { background-position: -775px -100px; }

/* ON STATES */
#header.home #navbar li#home a:hover { background-position: 0 0; cursor: default; }
#header.services #navbar li#services a { background-position: -150px -150px !important; }
#header.stylists #navbar li#stylists a { background-position: -275px -150px !important; }
#header.products #navbar li#products a { background-position: -400px -150px !important; }
#header.pictures #navbar li#pictures a { background-position: -525px -150px !important; }
#header.about_us #navbar li#about_us a { background-position: -650px -150px !important; }
#header.location #navbar li#location a { background-position: -775px -150px !important; }

#stage{
	border: 1px solid #999;
	background-color: white;
	height: 513px;
}

#logo{
	background:transparent url('/images/logo.png') no-repeat;
	height:513px;
}

#admin_menu_container {
	height: 25px;
}

#admin_menu_bar {
	color: black;
	font-weight: bold;
	display: inline;
	margin: 0 !important;
}

#admin_menu_bar li{
 	display: inline;
}

#admin_menu_bar li a{
  color: red;
}

#side_links_container {
 padding-top: 20px;
}

#side_links {
	display: inline;
	list-style: none inside !important;
	margin: 0 !important;
}

#side_links li a{
	float: left;
	width: 19px;
	text-indent: -9999px;
	background: white;
	margin-bottom: 10px;
	background-image: url('/images/side_links.jpg');
	border-top: 1px solid #999;
	border-right: 1px solid #999;
	border-bottom: 1px solid #999;
		-moz-border-radius-bottomright: 5px;
		-moz-border-radius-topright: 5px;
}

#side_links li#brazilian a {
	background-position:0 -6px;
	height:132px;
}

#side_links li#specials a {	
	background-position:0 -148px;
	height:77px;
}

#side_links li#appointments a {
	background-position:0 -233px;
	height:134px;
}

#side_links li#contact a {
	background-position:0 -374px;
	height:101px;
}


#image_on_stage {
	height: 465px;
	margin-left: 10px;
}

#see_through_box {
	background: url('/images/see_through_box.png') repeat;
	*background: url('/images/see_through_ie.png');
	height: 432px;
	width: 670px;
	margin: 18px;

	-moz-border-radius-topleft: 15px;
	-moz-border-radius-topright: 0;
	-moz-border-radius-bottomleft: 0;
	-moz-border-radius-bottomright: 15px;

	-webkit-border-top-left-radius: 15px;
	-webkit-border-top-right-radius: 0;
	-webkit-border-bottom-left-radius: 0;
	-webkit-border-bottom-right-radius: 15px;
}

#inner_content{
	height:400px;
	overflow:auto;
	padding-top:15px;
	display: none;
}



.footer {
	font-weight: bold;
	font-size: 15px;
	color: #030303;
}

#phone {float: left;}
#address {margin-left: 450px;}

.notification {
				-moz-border-radius-bottomleft: 5px;
				-moz-border-radius-bottomright: 5px;
				-moz-border-radius-topleft: 5px;
				-moz-border-radius-topright: 5px;
				background-image:url(/images/icons/large_info.png);
				background-position: 10px 10px;
				background-repeat: no-repeat;
				border: 1px solid #6c6;
				color: #333;
				background-color: #cfc;
				padding: 15px 5px 5px 80px;
				margin: 10px 0;
}
div.notification h3{
	margin-left: 70px;
	margin-top: 10px;
}

.notice {
				-moz-border-radius: 5px;
				border: 1px solid #6c6;
				color: #333;
				background-color: #cfc;
				padding: 5px;
				margin: 10px 0;
}
div.notice h3{
	margin-left: 70px;
	margin-top: 10px;
}

.warning {
			-moz-border-radius: 5px;
			background-image:url(/images/icons/warning.png);
			background-position: 10px 10px;
			background-repeat: no-repeat;
			min-height: 50px;
			padding: 18px 5px 5px 65px;
			margin: 10px;
			border: 1px solid #FFDB63;
			background-color: #333;
}
			
div.warning h3{
	margin-left: 70px;
	margin-top: 10px;
}

div.warning h5{
	margin-left: 70px;
	margin-top: 10px;
}

.flash_error {
				-moz-border-radius: 5px;
				background-image:url(/images/icons/large_error.png);
				background-position: 10px 10px;
				background-repeat: no-repeat;
				border: 1px solid #c66;
				background-color: #333;
				padding: 25px;
				padding: 23px 5px 23px 80px;
				margin: 10px 0;
}

div.flash_error h3{
	margin-left: 70px;
	margin-top: 10px;
}

.flash_ajax {
	display: block;
	position:fixed;
	bottom:0px;
	width:100%;
	z-index:1003;
	color:#ccc;
	background-color:#000;
	padding:4px;
}

.error {
				-moz-border-radius: 5px;
				border: 1px solid #c66;
				background-color: #fcc;
				padding: 5px;
				margin: 10px 0;
}

div.error h3{
	margin-left: 70px;
	margin-top: 10px;
}

#errorExplanation {
	width: 400px;
	border: 1px solid #A21C24;
	
}

#errorExplanation h2{
	background-color: #A21C24;
	font-size: 90%;
	color: white;
	padding-left: 15px;
}

#errorExplanation p{
	padding: 10px 15px 0 20px;
}

#errorExplanation li{
	font-size: 90%;
	list-style-type: disc;
	margin-left: 40px;
}


/* Forms */

.req {
	color:red !important;
	display:inline;
	font-weight:bold;
	font-size: small;
	vertical-align:top;
	margin:0;
	padding:0;
}


.show{
	border: 1px solid red;
	color: black;
}

.hide{ display: none;}

.about_us{
	margin-left:-69px;
	margin-top:-23px;
}

#location_map{
	margin-left:-61px;	
}

#index_title{
	color: #ffde9f;
	font-size: 120%;
	margin-left: -93px;
	margin-top: 22px;
}

#white_banner{
	color: #7b7b7b;
	margin-top: 159px;
	w/idth: 690px;
	height: 59px;
	background-image: url('/images/white_banner.png');
}

#white_banner p{
	padding-top: 9px;
	font-size: 120%;
}

#hours_box {
	color: #ffde9f;
	margin-left: 300px;
	padding-top: 15px;
}

#hours {
	list-style: none;
}

#hours li {
	color: #ffde9f;
	font-size: 150%;
}

#title { color: #ffde9f;}

#minimap{
	width: 285px;
	height: 272px;
	float: left;
}

#t456{
 width: 188px;	
}

#fv{
	width: 43px;
}

#path{
	width: 50px;
	height: 25px;
}


#loader {
  border: 1px solid #ccc;
  margin: 0 auto;
  width: 500px;
  height: 500px;
}

#image_on_stage.loading {
  background: url(/images/spinner.gif) no-repeat center center;
}

.form-item {
	display: block;
}

.form-item label {
	display: block;
	float:left;
	padding:3px 3px 3px 0;
	width:110px;
	text-align: right;
}

.female {
	font-weight: bold;
	vertical-align: bottom;
}

.lifter {
	margin-top: -25px;
}

.day_time_phone {
	margin-top: -10px;
}


#edit_content {
	display: none;
	margin-left:-53px;
	margin-top:-30px;
}

.pages_wrapper{
	margin-left:-53px;
	margin-top:-30px;
}

#padded_content{
	padding: 25px;
}

#manager{
 height: 200px;
 overflow: hidden;
}		


table {
margin:0; padding:0; 
border-collapse:separate; *border-collapse:collapse; border-spacing:0;
border:2px solid white;
width: 100%;
font: 120%;
}

th {
	background: #FFBB36 url(/images/sprite.png) repeat-x 0 0; /* header gradient */ 
	color: #333;
	font-weight: bold;
	padding: 8px 8px;
	text-align: center;
	border:none; 
	border-right:1px solid #CBCBCB;/*  inner column border */
}

tr {
 border-bottom: 5px solid red;
}

td {
 text-align: center !important;
 background-image: url(/images/h300.png);
}


.admin_links{
	display: inline;
	margin-left: -8px;
}

/*************
/* @Services */
#title{ padding-bottom: 5px;}

.category_header{color: orange; margin:0 auto; width:200px;  padding-bottom: 10px;}

.category_header h4{margin: 0 auto; display: inline;}

/* Scrollable Services*/
/* 
	root element for the scrollable. 
	when scrolling occurs this element stays still. 
*/
div.scrollable {
	position:relative;
	overflow:hidden;	 	
	width: 465px;	
	height: 300px;
	margin: 0 auto;
}

/* 
	root element for scrollable items. Must be absolutely positioned
	and it should have a super large width to accomodate scrollable items.
	it's enough that you set width and height for the root element and
	not for this element.
*/
div.scrollable div.items {	
	width:20000em;	
	position:absolute;
	clear:both;		
}

div.scrollable div.items div.category {
	float:left;
 	width: 450px;
	margin-right: 50px;	
}

/* Scrollable Interface Buttons */
a.prev_photo , a.next_photo {
	display:block;
	width:100px;
	height:50px;
	position: absolute;
	top: 145px;
	cursor:pointer;
}

/* mouseover state */
a.prev:hover, a.next:hover, a.prevPage:hover, a.nextPage:hover {
	background-position:0px -48px;		
}

a.disabled {
	visibility:hidden !important;		
}

a.prevphoto{
	background-image:url(/images/scrollable/Services/left.png);
	background-repeat: no-repeat;
	margin-top:100px;
	margin-left: -70px;
	z-index: 9998;
	}

a.next, a.nextPage {
	background-image:url(/images/scrollable/Services/right.png);
	background-repeat: no-repeat;
	left:810px;
	margin-top:100px;
	margin-left: 55px;
}



/*************
/* @Products */

#products_menu {
	width: 500px;
	height: 395px;
}

#products_menu img {
	margin-left: 10px;
}
#products_menu h2{
	display: inline;
}

#product_info_text_area{
	width: 400px;
	height: 120px;
}

div.vertical_scrollable{
	position:relative; 
  	overflow:hidden;
	height: 285px;      
	width: 500px;
}

div.vertical_scrollable div.items{     
    position:absolute; 
    height:20000em;     
}

.product_title{
	color: orange;
	padding-top: 5px;
}


.product_shelf{
	height: 100px;
	border-bottom: 5px solid white;
}

/* mouseover state */
a.prev:hover, a.next:hover, a.prevPage:hover, a.nextPage:hover {
	background-position:0px -48px;		
}

a.disabled {
	visibility:hidden !important;		
}


div.prev_product {
	background-image:url(/images/scrollable/arrow/left.png);
	width: 18px;
	margin-left: 290px;
	text-indent: 9999px;
	cursor: pointer;
}

div.next_product {
	background-image:url(/images/scrollable/arrow/right.png);
	background-repeat: no-repeat;
	margin-left: 290px;
	text-indent: 9999px;
	cursor: pointer;
}

/*********** navigator ***********/
/* position and dimensions of the navigator */
div.navi {
	border: 1px solid red;
	margin-top: 10px;
	margin-left:260px;
	width:200px;
	height:20px;
}

/* items inside navigator */
div.navi a {
	width:8px;
	height:8px;
	float:left;
	margin:3px;
	background:url('/images/scrollable/arrow/navigator.png') 0 0 no-repeat;
	display:block;
}

/* mouseover state */
div.navi a:hover {
	background-position:0 -8px;      
}

/* active state (current page state) */
div.navi a.active {
	background-position:0 -16px;     
}
