#products_menu {
	width: 500px;
	height: 395px;
}

#products_menu img {
	margin-left: 10px;
}
#products_menu h2{
	display: inline;
}

#product_info_text_area{
	width: 400px;
	height: 120px;
}

div.vertical_scrollable{
	position:relative; 
  	overflow:hidden;
	height: 307px;      
	width: 500px;
}

div.vertical_scrollable div.items{     
    position:absolute; 
    height:20000em;     
}

.product_title{
	color: orange;
	padding-top: 5px;
}


.product_shelf{
	height: 100px;
	border-bottom: 5px solid white;
}

a.prev, a.next, a.prevPage, a.nextPage {
	display:block;
	width:100px;
	height:50px;
	position: absolute;
	top: 145px;
	cursor:pointer;
}

/* mouseover state */
a.prev:hover, a.next:hover, a.prevPage:hover, a.nextPage:hover {
	background-position:0px -48px;		
}

a.disabled {
	visibility:hidden !important;		
}

a.prev, a.prevPage {
	background-image:url(/images/scrollable/Services/left.png);
	margin-top:100px;
	}

a.next, a.nextPage {
	background-image:url(/images/scrollable/Services/right.png);
	background-repeat: no-repeat;
	left:810px;
	margin-top:100px;
}

div.prev_product {
	background-image:url(/images/scrollable/arrow/left.png);
	width: 18px;
	margin-left: 290px;
	text-indent: 9999px;
	cursor: pointer;
}

div.next_product {
	background-image:url(/images/scrollable/arrow/right.png);
	background-repeat: no-repeat;
	margin-left: 290px;
	text-indent: 9999px;
	cursor: pointer;
}

/*********** navigator ***********/
/* position and dimensions of the navigator */
div.navi {
	margin-top: 10px;
	margin-left:260px;
	width:200px;
	height:20px;
}

/* items inside navigator */
div.navi a {
	width:8px;
	height:8px;
	float:left;
	margin:3px;
	background:url('/images/scrollable/arrow/navigator.png') 0 0 no-repeat;
	display:block;
}

/* mouseover state */
div.navi a:hover {
	background-position:0 -8px;      
}

/* active state (current page state) */
div.navi a.active {
	background-position:0 -16px;     
} 	