#actions{width:590px;}
#actions a:hover{color:#FFF;text-decoration:underline;}
#actions a{color:#FFB;cursor:pointer;font-size:11px;}
.nextPage{float:right;}
div.vertical_scrollable{position:relative;overflow:hidden;height:250px;width:590px;}
div.vertical_scrollable div.items{position:absolute;height:20000em;}
/* Products */
.product_shelf{padding-top:8px;height:236px;width:580px;}
.product_title{color:#FFB;}
.product_info{float:left;width:400px;}
.product_shelf img{float:left;margin-top:4px;margin-right:17px;}
.product_shelf .admin_links{display:inline;}
#product_info_text_area{width:100px;height:120px;}
#products{border-top:1px dotted white;border-bottom:1px dotted white;width:600px;height:175px;padding-left:10px;}
.product{width:185px;height:175px;border-right:1px dotted white;float:left;}
.prod_img{border:1px solid green;width:64px;height:150px;margin:17px 5px 0;float:left;}
.prod_desc{border:1px solid red;width:120px;margin-left:64px};