<h2 id="title">Sechdule an Appointment</h2>
<% unless admin? %>
	<h2>Coming soon...</h2>
<% else %>
<h3 class="lifter">Fill out this form and we will call or e-mail you to confirm your appointment.</h3>

<div id="appointment_form">
<% form_for(:appointment) do |f| %>
  <%= f.error_messages %>
<%= render :partial => "form", :locals => {:f => f} %> 
<% end %>
</div>
<% end -%>