<div id="msg_central" class="warning">
	<h4>We’d like to say thank you to everyone who participated in our Groupon promotion.<br /><br />
<p>
Due to the overwhelming demand, the on-line appointments section is now closed.</p><br />
<p>Appointments are welcome by phone or in person.</p><br />
	
	<p> We'd like to apologize ahead of time if our phone lines are busy.</p><br />
	<p> We appreciate your patience and tolerance.</p><br />
<p id="red">Please do not use the Contact us page to schedule an appointment.</p>
</h4></div>

<style type="text/css" media="screen">
	#msg_central {
		margin-top: 105px;
	}
	#red{color: #FF450D;text-align: center;}
</style>