<div id="msg_central" class="warning">
	<h4>We want to thank everyone who participate our Groupon promotion.<br /><br />
<p>
Due the overwhelming demand, the on-line appointments section is now closed.</p><br />
<p>Appointments are welcome by phone or by person.</p><br />
<p id="red">Please do not use the contact us page to schedule an appointment.</p>
</h4></div>

<style type="text/css" media="screen">
	#msg_central {
		margin-top: 105px;
	}
	#red{color: #FF450D;text-align: center;}
</style>