<%#= javascript_include_tag "appointments_validatior" %>
<div class="pages_wrapper">
<h2 id="title">Sechdule an Appointment</h2>

<h3 class="lifter">Fill out this form and we will call or e-mail you to confirm your appointment.</h3>

<div id="appointment_form">
<% form_tag(pages_path, :id => "appointment") do -%>
	<%= render :partial => "form"  %> 
<% end -%>
</div>

</div>
