<div id="wwhite_banner">
	<p align="center"> Lifestyle Salon NYC is a beautifully modern full service hair salon. <br/>
		Located in the heart of Manhattan's Greenwich Village. </p>
</div>

<div id="whours_box">
	<h2> Salon Hours </h2>
	<ul id="whours">
	<li>Monday - Friday 10a.m - 8p.m</li>
	<li>Saturday	10a.m - 7p.m</li>
	<li>Sunday	11a.m - 6p.m</li>
	</ul>
</div>