<div class="prepend-1">
<% @bkg = @page.background_picture.url(:bkg) %>

<div id="display_content" class="specials">
	<h2 id="title">Specials</h2>
	<% if @page.body.nil? %>
		<h2>Coming soon...</h2>
	<%- else -%>
	<%= @page.body  %>
	<% end -%><!-- display page body-->
</div> <!-- /display content-->

<% if logged_in? %>
	<%= render :partial => "shared/update_page" %>
<% end -%>
</div>


