<div class="prepend-1">
<%= render :partial => 'shared/load_yui_editor' %>
<h2 id="title">New special</h1>

<% form_for(@special) do |f| %>
  <%= render :partial => 'form', :locals => {:f => f} %>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', specials_path %>
</div>