			<div>
			<label for="stylist_first_name">first name:
				<span class="req">*</span>
			</label>
			<%= f.text_field :first_name %>	
			</div>
			
			<div>
			<label for="stylist_last_name">last name:
			<span class="req">*</span>
			</label>
			<%= f.text_field :last_name %>	
			</div>
			
		<label for="stylist_bio">Stylist bio:
			<span class="req">*</span>
		</label>
		<%= f.text_area :bio, :id => "stylist_bio_textarea" %>

		<br/>
		<label for="photo">Picture: </label>
		<%= f.file_field :photo %>