	<div id="stylist_form_name">
			<label for="stylist_first_name">First name:
				<span class="req">*</span>
			</label>
			<%= f.text_field :first_name, :size => 20 %>	
			
			<label for="stylist_last_name">Last name:
			<span class="req">*</span>
			</label>
			<%= f.text_field :last_name, :size => 20 %>	
	</div>
			
	<div id="bio" class="yui-skin-sam">
			<label for="stylist_bio">Stylist bio:
			<span class="req">*</span>
		</label>
		<%= f.text_area :bio, :id => "page_editor" %>
	</div>

		<br/>
		<label for="photo">Picture: </label>
		<%= f.file_field :photo %>