	<%= f.label :title, "Title:" %>
	<%= f.text_field :title %>
		<%#= f.label :descrpition, "Description:" %>
		<%#= f.text_area :description ,:cols => 60, :rows => 5 %>
		<p></p>
		<p>
		<%= f.label :photo, "Photo:" %>
		<%= f.file_field :photo, :size => "20" %>	
		</p>