<div id="gallery">
	<h2 id="title" align="center">Gallery</h2>

<% if @pictures.empty? %>
	<% unless admin? %>
	 <h2> Coming soon... </h2>
	<%- else -%>
	<div class="warning ">	
		<h2>There are no pictures in the database</h2>
		<p>Start by adding a picture for the gallery</p>
		<p><%= link_to "Add new picture", new_picture_path %></p>		
	</div>
	<% end -%>
<% else %>
<!-- "previous page" action --> 
<a class="prev prev_photo">Previous</a> 

	<!-- root element for scrollable --> 
	<div class="scrollable">          
		<!-- root element for the items --> 
    <div class="items">
			<% @pictures.each do |pic| %>
				<%= image_tag (pic.photo.url) %>
			<% end -%>
		</div> <!-- /items -->
	</div> <!-- /scrollable -->
<% end -%>

<!-- "next page" action --> 
<a class="next next_photo">Next</a>

</div> <!-- /gallery-->
<% unless @pictures.empty? %>
<%= link_to "Add new picture", {:action => "new"} %>
<% end -%>
<%= will_paginate @pictures %>