	<h2 id="title">Add New Picture to Gallery</h2>
<% form_for(@picture, :html => {:multipart => true}, :url => pictures_path) do |f| -%>
  <%= render :partial => "form", :locals => {:f => f}  %>
	<%= f.submit "Add Photo" %>
<% end -%>

<%= link_to "Back to Gallery", pictures_path %>
