<h1>Editing appointments</h1>

<% form_for(@appointments) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @appointments %> |
<%= link_to 'Back', appointments_path %>