  <div class="append-bottom">
	<label class="desc" for="product_title">Name:
  	<span class="req">*</span>
  </label>
	<%= f.text_field :title %>
	</div>
	
	<div class="append-bottom yui-skin-sam">
	<label class="desc" for="product_info">Product Information: </label>
	<%= f.text_area :info, :id => "page_editor"  %>
	</div>
		
	<div class="append-bottom">
	<label for="product_photo">Product Photo: </label>
	<%= f.file_field :photo %>
	</div>
	
	<%= render :partial => 'shared/load_yui_editor_files' %>

	<script type="text/javascript" charset="utf-8">
		var editor = new YAHOO.widget.Editor('page_editor', {
		  height: '125px', 
			width: '600px', 
			animate: true,  
			handleSubmit: true
		});
		editor._defaultToolbar.titlebar = false;
		editor._defaultToolbar.buttonType = 'advanced'
		editor.render();
	</script>