<h1>Edit Product</h1>
<%= error_messages_for :product %>
<% form_for(:product, :url => product_url, :html => {:multipart => true, :method => :put}) do |f| -%>
	<%= render :partial => 'form', :locals => {:f => f }%>
	<p>
	<%= f.submit "Save Changes" %>
</p>
<% end -%>