<%= javascript_include_tag 'products' %>
<div id="side-bar">
	<div id="products-list" class="prepend-1">
	 In Store Products
			<% @products.each do |p| %>
					<h4 data-productID="<%= p.id %>" class="product-title"><%= p.title.upcase %></h4>
			<% end %>
	</div>
</div>

<div id="product-focus">
	Click on a Prooduct
</div>