<%= javascript_include_tag 'products', 'reflection' %>
<div id="side-bar">
	<h4 id="product-header">Salon Products <%= link_to image_tag("icons/add.png", :size => "16x16"), new_product_path, :title => "new product" %></h4>
	
	<ul id="products-list">	
			<% @products.each do |p| %>
				<li>
					<h4 data-productID="<%= p.id %>" class="product-title">
						<a class="tooltip-trigger"><%= p.title %></a>
					</h4>
				</li>
			<% end %>
	</ul>
	
</div>

<div id="product-focus"><h4 id="primer">Please click on a Product</h4></div>
