<div class="pages_wrapper">
<h2 id="title">Add a new product</h2>
<%= error_messages_for :product %>
<% form_for(:product, :url => products_url, :html => {:multipart => true}) do |f| -%>
	<%= render :partial => 'form', :locals => {:f => f }%>
	<%= f.submit "Add Product" %> 
	<%= link_to "go back to products", products_path %>
<% end -%>
</div>
