<div id="product-picture">
	<%= image_tag(@product.photo.url(:original), :class => 'reflect') %>
</div>
<% if logged_in? %>

<div class="admin_links">
<%= link_to image_tag("icons/layout_edit.png", :size => "24x24") + "Edit Product", edit_product_path(@product), :title => "edit product" %>
<%= link_to image_tag("icons/large_error.png", :size => "24x24") + "Remove Product", product_path(@product), :title => "remove product",
																											:id => "delete icon",
																											:class  => "delete_icon",
																											:confirm => 'Are you sure?', 
																											:method => :delete %>
</div>
<% end -%>

<div id="product-info"><%= @product.info %></div>
