<% @bkg = "haim.jpg" %>

<h4 id="about">
Lifestyle Salon NYC is a beautifully modern full service hair salon.  Located in the heart of Manhattan's Greenwich Village, Lifestyle Salon features a team of diverse and talented stylists headed by Haim Hazan.  In an energetic and warm atmosphere, we offer a wide range of services including cuts, color, extensions ad a variety of straighteners.  We use the highest quality products to provide the ultimate in hair care and leave you looking and feeling beautiful.  Lifestyle Salon is open 7 days a week to cater to all your styling needs.
</h4>