<h3>coming soon ...</h3>

<ul id="hours">
	<h2> Salon Hours </h2>
<li>Monday 11 - 8</li>
<li>Tuesday - Friday 10 - 8</li>
<li>Saturday	10 - 7</li>
<li>Sunday	11 - 6</li>
<ul>

<br/>

<h2> Open 7 Days a Week </h2>

<h2> 212.228.5577 </h2> 
